# Basketball Shooting Practice

When Nick shoots a basketball, he either sinks the shot or misses. For each shot
Nick sinks, he is given 5 points by his father. For each missed shot, Nickâ€™s Dad
takes 2 points away.

Nick attempts a total of 28 shots and ends up with zero points (i.e. he breaks
even). How many shots did Nick sink?

from https://www.cemc.uwaterloo.ca/resources/potw/2019-20/English/POTWB-19-NN-01-P.pdf

In [1]:
import pandas as pd
shots = 28
shots_dataframe = pd.DataFrame(columns=['Sunk', 'Missed', 'Points'])

for sunk in range(0,shots+1):
    missed = shots - sunk
    points = sunk * 5 - missed * 2
    shots_dataframe = shots_dataframe.append({'Sunk':sunk, 'Missed':missed, 'Points':points}, ignore_index=True)
    if points == 0:
        print('Nick ends up with zero points if he sinks', sunk, 'shots.')

shots_dataframe

Nick ends up with zero points if he sinks 8 shots.

   Sunk Missed Points
0     0     28    -56
1     1     27    -49
2     2     26    -42
3     3     25    -35
4     4     24    -28
5     5     23    -21
6     6     22    -14
7     7     21     -7
8     8     20      0
9     9     19      7
10   10     18     14
11   11     17     21
12   12     16     28
13   13     15     35
14   14     14     42
15   15     13     49
16   16     12     56
17   17     11     63
18   18     10     70
19   19      9     77
20   20      8     84
21   21      7     91
22   22      6     98
23   23      5    105
24   24      4    112
25   25      3    119
26   26      2    126
27   27      1    133
28   28      0    140